---
import Typography from "#design/elements/Typography.astro"

export type Props = {
  label: string
  help?: string
}

const { label, help } = Astro.props
---

<div class="field">
  <Typography as="label" role="label" size="medium" class="label">
    {label}
  </Typography>

  <slot />

  {
    help && (
      <Typography as="p" role="body" size="small" class="help">
        {help}
      </Typography>
    )
  }
</div>

<style>
  .field {
    display: flex;
    flex-direction: column;
    gap: var(--os-space-2);
  }

  .label {
    color: var(--os-color-text-faint);
  }

  .help {
    color: var(--os-color-text-faint);
  }
</style>
