/**
 * .react-flow (.light .dark)
 *   .react-flow__renderer
 *     .react-flow__pane (.draggable .dragging .selection)
 *       .react-flow__viewport
 *         .react-flow__viewport-portal
 */

.react-flow {
  --xy-node-border-radius-default: 3px;
  --xy-controls-box-shadow-default: 0 0 2px 1px rgba(0, 0, 0, 0.08);
  --xy-node-padding-default: 10px;

  &.light {
    --xy-edge-label-background-color-default: #ffffff;
    --xy-edge-label-color-default: #000000;

    --xy-node-color-default: #000000;
    --xy-node-border-default: 1px solid #1a192b;
    --xy-node-background-color-default: #fff;
    --xy-node-boxshadow-hover-default: 0 1px 4px 1px rgba(0, 0, 0, 0.08);
    --xy-node-boxshadow-selected-default: 0 0 0 0.5px #1a192b;

    --xy-handle-background-color-default: #1a192b;
    --xy-handle-border-color-default: #fff;

    --xy-selection-background-color-default: rgba(0, 89, 220, 0.08);
    --xy-selection-border-default: 1px dotted rgba(0, 89, 220, 0.8);

    --xy-controls-button-background-color-default: #fefefe;
    --xy-controls-button-background-color-hover-default: #f4f4f4;
    --xy-controls-button-color-default: #000000;
    --xy-controls-button-color-hover-default: #000000;
    --xy-controls-button-border-color-default: #eee;
  }

  &.dark {
    --xy-edge-label-background-color-default: #141414;
    --xy-edge-label-color-default: #f8f8f8;

    --xy-node-color-default: #f8f8f8;
    --xy-node-border-default: 1px solid #3c3c3c;
    --xy-node-background-color-default: #1e1e1e;
    --xy-node-boxshadow-hover-default: 0 1px 4px 1px rgba(255, 255, 255, 0.08);
    --xy-node-boxshadow-selected-default: 0 0 0 0.5px #999;

    --xy-handle-background-color-default: #bebebe;
    --xy-handle-border-color-default: #1e1e1e;

    --xy-selection-background-color-default: rgba(200, 200, 220, 0.08);
    --xy-selection-border-default: 1px dotted rgba(200, 200, 220, 0.8);

    --xy-controls-button-background-color-default: #2b2b2b;
    --xy-controls-button-background-color-hover-default: #3e3e3e;
    --xy-controls-button-color-default: #f8f8f8;
    --xy-controls-button-color-hover-default: #fff;
    --xy-controls-button-border-color-default: #5b5b5b;
  }
}
