/* https://reactflow.dev/examples/styling/turbo-flow */

@import "./core.css";
@import "./edge.css";
@import "./node.css";
@import "./controls.css";
@import "./selection.css";
@import "./misc.css";

/**
 * All Built-in Classes
 *
 * .react-flow (.light .dark)
 *   .react-flow__renderer
 *     .react-flow__pane (.draggable .dragging .selection)
 *       .react-flow__viewport
 *         .react-flow__edges
 *           svg.react-flow__marker
 *           svg
 *             g.react-flow__edge.react-flow__edge-${edgeType} (.selectable .selected .inactive .updating .animated)
 *               path.react-flow__edge-path
 *               path.react-flow__edge-interaction
 *               g.react-flow__edge-textwrapper
 *                 rect.react-flow__edge-textbg
 *                 text.react-flow__edge-text
 *               circle.react-flow__edgeupdater.react-flow__edgeupdater-${handleType}
 *         svg.react-flow__connectionline
 *           g.react-flow__connection
 *             path.react-flow__connection-path
 *         .react-flow__edgelabel-renderer
 *         .react-flow__nodes
 *           .react-flow__node.react-flow__node-${nodeType} (.draggable .dragging .selectable .selected)
 *             .react-flow__resize-control.${position} (.handle .line)
 *             .react-flow__node-toolbar
 *             .react-flow__handle.react-flow__handle-${position} (.connectingfrom .connectionindicator)
 *         .react-flow__viewport-portal
 *       .react-flow__selection
 *       .react-flow__nodesselection
 *         .react-flow__nodesselection-rect
 *   canvas.os-flow__guides
 *   .react-flow__controls.${orientation}.react-flow__panel.${position}
 *     .react-flow__controls-button.react-flow__controls-${buttonType}
 *   .react-flow__minimap.react-flow__panel.${position}
 *     .react-flow__minimap-svg
 *     rect.react-flow__minimap-node
 *     path.react-flow__minimap-mask
 *   svg.react-flow__background
 *     pattern
 *       .react-flow__background-pattern (path.cross path.lines circle.dots)
 *     rect
 *   .react-flow__attribution.react-flow__panel.${position}
 */
