/** Selection
 *
 * .react-flow
 *   .react-flow__renderer
 *     .react-flow__pane
 *
 * .react-flow__selection
 * .react-flow__nodesselection
 *   .react-flow__nodesselection-rect
 */

.react-flow__selection,
.react-flow__nodesselection .react-flow__nodesselection-rect {
  background: var(
    --xy-selection-background-color,
    var(--xy-selection-background-color-default)
  );
  border: var(--xy-selection-border, var(--xy-selection-border-default));

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
