---
import Layout from "#design/layouts/RootLayout.astro"
import { type Breadcrumb, getMatch, getStructure } from "#shared/breadcrumbs"

import Footer from "./Footer.astro"
import Header from "./Header.astro"

export type Props = {
  children: unknown
}

const { root, title } = getStructure(Astro.locals.breadcrumbs as Breadcrumb[])

const navigation = root?.navigation ?? []

const match = getMatch(navigation, Astro.originPathname)
---

<Layout title={title}>
  {root && <Header root={root} navigation={navigation} active={match} />}

  <main>
    <slot />
  </main>

  <Footer />
</Layout>
