---
import { Breadcrumb } from "#shared/page"

import Layout from "./_Layout.astro"
---

<Breadcrumb
  href="/temporary"
  label="Temporary"
/>

<Layout>
  <p>
    Anim dolor eiusmod eiusmod labore Lorem sunt. Dolor irure eu laboris
    reprehenderit consectetur. Deserunt enim irure incididunt mollit est nostrud
    occaecat officia minim. Deserunt reprehenderit ex culpa dolore cillum culpa.
    Velit cupidatat eiusmod elit commodo cupidatat nisi enim id. Pariatur
    reprehenderit do cupidatat reprehenderit do mollit. Ut veniam amet enim
    occaecat consequat aliqua duis exercitation exercitation.
  </p>
</Layout>
