name: "Example: Flow Demo"

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/example-demo-flow.yml
      - internal/tooling/**
      - examples/demo-flow/**

env:
  WORKSPACE: "overlaysymphony-examples-demo-flow"
  DIRECTORY: examples/demo-flow

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Verify
        uses: ./.github/actions/verify

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: verify

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Test
        uses: ./.github/actions/test
        if: false

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [verify, test]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        uses: ./.github/actions/build
