name: Scripts

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/internal-scripts.yml
      - internal/tooling/**
      - internal/scripts/**

env:
  WORKSPACE: "@overlaysymphony/scripts"
  DIRECTORY: internal/scripts

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Verify
        uses: ./.github/actions/verify

      - name: Hello
        run: npx nx run ${{ env.WORKSPACE }}:hello
